<section>
			<div class="item" ng-repeat="item in shareImg">
				<!--用户头像-->
				<div class="personal-icon">
					<img src="assets/img/cont4.jpg">
				</div>
				<!--发表内容-->
				<div class="share">					
					<p class="name">{{item.username}}</p>
					<p class="content">滴滴出行，前程无忧</p>
					<div class="share-info">		
						<img ng-src="{{item.shareInfo.sharePic}}">
						<p>{{item.shareInfo.shareTxt}}</p>
					</div>
					<div class="comment-wrap">
						<div>
							<i class="iconfont praise">&#xe605;</i>
							<em class="num"> {{item.islikeNum}}</em>
						</div>
						<div>
							<i class="iconfont comment">&#xe655;</i>
							<em>评论</em>
						</div>	
						<div class="delete-wrap">
							<i class="iconfont delete">&#xe60e;</i>
							<em>删除</em>
						</div>
					</div>
					<div class="time">1小时前</div>
					<div class="friend-comment">
						<div class="comment-list">
							<p><em>秋香：</em><i>赞~</i></p>
							<p><em>唐伯虎：</em><i>赞~滴滴让出行更美丽</i></p>
							<p><em>秋香：</em><i>赞~</i></p>							
						</div>
						<!--查看所有评论-->
						<div class="look">查看所有的评论<i class="iconfont delete">&#xe6a6;</i></div>
						<div class="all-comment">
							<p><em>秋香：</em><i>赞~</i></p>
							<p><em>唐伯虎：</em><i>赞~滴滴让出行更美丽</i></p>
							<p><em>秋香：</em><i>赞~</i></p>	
							<div class="look-box look">收起<i class="iconfont delete">&#xe6a5;</i></div>
						</div>
					</div>
				</div> 
			</div>
		<!--上传图片	-->	
			<div indexattr="{{$index}}" class="item" ng-repeat="list in share">
				
				<!--用户头像-->
				<div class="personal-icon">
					<img src="assets/img/cont7.jpg">
				</div>
				<!--发表内容-->
				<div class="share">					
					<p class="name">{{list.username}}</p>
					<p class="content">滴滴出行，前程无忧</p>
					<div class="share-img">
						<ul ng-repeat="imgs in list.shareInfo.sharePic">
							<li>
								<img src="{{imgs}}">
							</li>
							
						</ul>
					</div>
					<div class="comment-wrap">
						<div>
							<i class="iconfont praise">&#xe605;</i>
							<em class="num">{{list.islikeNum}}</em>
						</div>
						<div>
							<i class="iconfont comment">&#xe655;</i>
							<em>评论</em>
						</div>	
						<div class="delete-wrap">
							<i class="iconfont delete">&#xe60e;</i>
							<em>删除</em>
						</div>
					</div>
					<div class="time">1小时前</div>
					<div class="friend-comment">
						<div class="comment-list">
							<p><em>秋香：</em><i>赞~</i></p>
							<p><em>唐伯虎：</em><i>赞~滴滴让出行更美丽</i></p>
							<p><em>秋香：</em><i>赞~</i></p>							
						</div>
					</div>
				</div> 
			</div>
			
		</section>