
<footer>
	<div class="footer-nav">
			<a href="#!/main">
				<i class="iconfont" id="active">&#xe612;</i>
				<span id="active">首页</span>
			</a>
		</div>
		<div class="footer-nav">
			<a href="#!/programme">
				<i class="iconfont" id="active">&#xe612;</i>
				<span id="active">全部课程</span>
			</a>
		</div>
		<div class="footer-nav">
			<a href="###">
				<i class="iconfont" id="active">&#xe68e;</i>
				<span id="active">我的学习</span>
			</a>
		</div>
		<div class="footer-nav">
			<a href="#!/login">
				<i class="iconfont" class="active">&#xe70b;</i>
				<span class="active">账号</span>
			</a>
		</div>
</footer>
